platform/n8n/workflows/FactoryBox_SmartAI_Daily_Telegram_Report.json
{
  "name": "FactoryBox - SmartAI Daily Telegram Report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 18 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily 18:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:3100/api/machines/laser01/ai/daily-report/telegram?save=1",
        "options": {}
      },
      "id": "http-smartai-report",
      "name": "Get SmartAI Telegram Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "BURAYA_TELEGRAM_CHAT_ID",
        "text": "={{$json.telegram_text}}",
        "additionalFields": {}
      },
      "id": "telegram-send-report",
      "name": "Send Telegram Report",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        720,
        300
      ]
    }
  ],
  "connections": {
    "Daily 18:00": {
      "main": [
        [
          {
            "node": "Get SmartAI Telegram Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get SmartAI Telegram Report": {
      "main": [
        [
          {
            "node": "Send Telegram Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}